<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>

<body>

<header th:replace="~{fragments :: header}"></header>

<div class="club-info">
  <h2>CrossFit71</h2>

  <p>
    CrossFit71 to studio crossfit połączone z alternatywą studia dla trenerów personalnych oraz ich klientów. </br>
    Klimatyczne i kameralne miejsce, mieści się we Wrocławiu. Dbamy o jakość naszych zajęć i rozwój trenerów,</br>
    więc tu nauczysz się nienagannej techniki i przede wszystkim rozwiniesz się sportowo. Zapraszamy!
  </p>

</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>